.memoryGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  gap: 1rem;
}

.memoryCard {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 0px;
  text-align: center;
  cursor: pointer;
  display:block;
  width: 60px;
  height: 80px;
}

.memoryCard:hover {
  background-color: var(--color-background-hover);
}

.card {
  background-color: transparent;
  display:block;
  width: 100%;
  height: 100%;
  line-height: normal;
}

.githubLink {
  display: inline-block;
  margin-top: 1rem;
  color: var(--color-text);
  text-decoration: none;
  font-weight: bold;
}